<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Reportar Informação</h4>
                        <p class="category">Máquinas</p>
                    </div>

                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <label for="text_input">Setor</label>
                                    <input type="text" name="text_input" id="text_input" value="Maquinário Falcon" class="form-control" disabled>
                                </div>

                                <div class="col-md-4">
                                    <label for="maquina_select">Máquina</label>
                                    <select class="form-control" ng-model="enquipamentos" required id="maquina_select">
                                        <option>Selecione a Máquina</option>
                                        <option>Máquina 1</option>
                                        <option>Máquina 2</option>
                                        <option>Máquina 3</option>
                                        <option>Máquina 4</option>
                                        <option>Máquina 5</option>
                                        <option>Máquina 6</option>
                                        <option>Máquina 7</option>
                                        <option>Máquina 8</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="form-group form-black label-floating is-empty">
                                        <textarea name="descricao" id="decricao" cols="30" rows="7" placeholder="Descreva o Problema..." class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right">Enviar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>